@import "../bourbon/bourbon";

$main-colors: (
  ghost-white: rgba(white, .4),
  light-white: rgba(white, .6),
  full-white: rgba(white, .8),
  light-black-bg: rgba(black, .5),
  green: green,
  lime-glow: rgba(126, 251, 126, 1)
);